<div class="aspacer"></div>
<div class="adminbar">
    <form method="POST">
          <input type="submit" name="packages" src="images/packages.png" class="packages" value="Packages"/>
    </form> 
    <form id='formName' name='formName' method="POST" >
        <input type="submit" name="users" src="images/users.png" class="users"  value="Users" />
    </form> 
    <form id='formName' name='formName' method="POST" >
        <input type="submit" name="motd" src="images/motd.png" class="motd"  value="motd" />
    </form> 
</div>